<div id="container1">
  <div>
    <img src="../../../../assets/imagem/logo.png">
  </div>
  <div>
    <h1 >Login</h1>
  </div>
  <div class="clear"></div>

  <form>

    <div class="cor">
      <label>Usuario</label>
      <input class="email" type="text" name="email" >
    </div>

    <div class="cor">
      <label >Senha</label>
      <input class="senha" type="password" name="senha">
    </div>

    <div class="esqueceu">
      <a routerLink="#">Esqueceu a senha ?</a>
    </div>

    <div>
      <a class="submit" routerLink="/listarFormatura">Entrar</a>

    </div>

  </form>


</div>
