
        <div id="container1">
            <div>
                <img src="../../../../assets/imagem/logo.png">
            </div>
            <div>
                <h1 class="login">Cadastrar Evento</h1></div>
            <div class="clear"></div>
            <form>

                <div class="cor">
                    <label><i class="feather-5"data-feather="edit"></i>Usuario</label>
                    <input class="email" type="text" name="email" id="email">
                </div>

                <div class="cor">
                    <label><i class="feather-5" data-feather="calendar"></i>Data</label>
                    <input class="senha" type="date" name="senha" id="senha">
                </div>
                <br><br>
                <div>
                    <a class="submit" routerLink="ListarFormatura">Criar</a>
                </div>

            </form>
        </div>
